<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/custom.css">
    <title>Página do Usuário</title>
</head>

<body>
    <div class="login">
        <h2>Bem vindo ao SELOEDU</h2>
        <p id="p1">Seu gerenciador de aplicações e treinamentos</p>
        <p id="p2">Faça login para acessar o painel</p>
        <a class="btn" href="login.html">Entrar</a>
        
    </div>
</body>

</html>